// Custom
//
// Override the Bootstrap defaults without modifying key, versioned files.
$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;
$quick-silver: #A1A6B4;
$nickel: #72727E;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #BBBDF6;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;


$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $purple,
  secondary: $quick-silver,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

$link-color: $nickel;

$enable-rounded: false;
$testcolor: #F6F5F5;
$gray-dark: #F8F8F8;
// $gray-light: #2f2a37;
$gray-light: #625F63;
$primary: #74a8e0;
// $bg-color:#F6F5F5!important;
// $primary-color:#008ed6;
$primary-color: #74a8e0;

$body-bg:    $gray-dark;
$body-color: $gray-light;




// body {
//   background-color: $bg-color;
// }

.navbar{
  border-bottom: $primary-color solid 2px;
  opacity: 0.8;
}

// .container {
//   max-width: 1640px!important;
// }

.navbar-text {
  font-size: 14px;
}

.c-line-left {
  width: 30px;
  height: 3px;
  margin: 0 0 30px 0;
  background-color: #6e8cd7;
}

#header-section{
  background-image: url("/img/pattern-bg-lightblue.jpg");
}

.test-img{
  height:100px;
  width:100px;
}
