// Custom
//
// Override the Bootstrap defaults without modifying key, versioned files.

$enable-rounded: false;
$testcolor: #F6F5F5;
$gray-dark: #F8F8F8;
$gray-light: #2f2a37;
$primary: #74a8e0;
// $bg-color:#F6F5F5!important;
// $primary-color:#008ed6;
$primary-color: #74a8e0;

$body-bg:    $gray-dark;
$body-color: $gray-light;



// body {
//   background-color: $bg-color;
// }

.navbar{
  border-bottom: $primary-color solid 2px;
  opacity: 0.8;
}

// .container {
//   max-width: 1640px!important;
// }

.navbar-text {
  font-size: 14px;
}

.c-line-left {
  width: 30px;
  height: 3px;
  margin: 0 0 30px 0;
  background-color: #6e8cd7;
}

#header-section{
  background-image: url("/img/pattern-bg-lightblue.jpg");
}

.test-img{
  height:100px;
  width:100px;
}
