
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import "~font-awesome/scss/font-awesome";

// Variables
@import "custom";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";


@include media-breakpoint-down(sm) {
  .test-img {
    position: absolute;
    visibility: hidden;
  }

  .mobile-button {
    visibility: visible;
  }

  .btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}
}

@include media-breakpoint-up(sm) {
  .mobile-button {
    visibility: hidden;
  }
}
